*{
    margin: 0px;
    padding: 0px;
    font-family: "Inter", serif;
    /* font-optical-sizing: auto; */
    color: #fff;
}
body{
   
    /* background-position: 10px; */
    background-image: url(./Assets/Images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}
h1{
    font-size: 60px;
    font-weight: bold;
    width: 50%;
    text-align: center;
    word-spacing: 2px;
    line-height: 1.15;
}
p{
    font-size: 18px;
}
h3{
    font-size: 25px;
}
button{
    background-color:#212121 ;
    border-radius: 28px;
    padding: 15px 55px;
}
.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 60px;
}
.header-date{
    opacity: 70%;
}
.footer {
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 70px 20px  10px 20px;
}
.footer > article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left:55px ;
    padding-right:55px ;
}
.footer > article >p{
    opacity: 60%;
    font-size: 15px;
}
@media screen and (max-width: 1211px) and (min-width: 696px) {
    h1 {
        width: 70%;
    }
}
@media screen and (max-width: 696px) and (min-width: 616px) {
    h1 {
        font-size: 55px;
        width: 90%;
    }
    .hero-container {
        height: 60vh;
        gap: 60px;
    }
}

@media screen and (max-width: 616px) {
    h1{
        font-size: 50px;
        font-weight: bold;
        width: 90%;
    }
    button{
        background-color:#212121 ;
        border-radius: 28px;
        padding: 15px 55px;
    }
    .footer {
        flex-direction: column;
        gap: 20px;
    }
    .footer > article {
        display: flex;
        flex-direction: column;
        align-items: center; /* Or 'stretch' for equal width */
        gap: 20px;
        padding-left: 55px;
        padding-right: 55px;
    }
    .footer > article > p {
        opacity: 60%;
        font-size: 15px;
    }
}

